
<div class="container">
    <h1>Search for a Movie</h1>
    <form id="movie-search">
        <input id="choice" type="text" placeholder="Search for movie by name">
        <button type="submit">Search</button>
    </form>
    <h2>Search Results</h2>
    <div class="movie-container">
        <!-- look into handlebars  --> 
    </div>
</div>
<script src="/js/movies.js"></script>
