:root{
    --body-gutter: 20%;
    --body-margin-bottom: 150px;
    --animation-delay: 2s;
}

.custom-navbar{
    margin: 0px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
    
}
.custom-header{
   margin: 0px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
   max-height: 600px;
   

}
.custom-header *{
    max-height: 700px;
}
nav{
    animation-name: timedDisplay;
   animation-duration: 2s;
   
}
header{
    animation-name: timedDisplay;
   animation-duration: 2s;
   animation-delay: var(--animation-delay);
   
}
main{
   animation-name: timedDisplay;
   animation-duration: 2s;
   animation-delay: calc(var(--animation-delay) + var(--animation-delay));
   margin: 300px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
}
main > div{
    display: inline-block;
}  


::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: #bd2a2a;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ff6600;
    border-radius: 10px;
}


@keyframes timedDisplay {
    from{
        opacity: 0;
    }


    50%{
        opacity: .5;
    }

    to{
        opacity: 1;
    }
}