:root{
    --body-gutter: 20%;
    --body-margin-bottom: 150px;
    
}

.custom-navbar{
    margin: 0px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
    
}
.custom-header{
   margin: 0px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
   max-height: 600px;
   

}
.custom-header *{
    max-height: 700px;
}

main{
   
   margin: 300px var(--body-gutter) var(--body-margin-bottom) var(--body-gutter);
}
main > div{
    display: inline-block;
}  